<div class="wrapper">
  <div class="section">
    <div class="loginForm">
      <form [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.value)">
        <div class="field">
          <label class="label">
            Username
          </label>
          <div class="control">
            <input type="text" class="input is-medium" formControlName="username" required>
          </div>
        </div>
        <div class="field">
          <label class="label">
            Password
          </label>
          <div class="control">
            <input type="password" class="input is-medium" formControlName="password" required>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-info" type="submit">
            <span>
              Login
            </span>
          </button>
          <button type="button" class="button">
            <span>
              Cancel
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>