<div>
  <div class="wrapper">
    <div class="section">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
            <span class="icon">
              <i class="fas fa-gem"></i>
            </span>
            <span class="">ShopMart</span>
          </a>
          <div class="is-hidden-desktop moveright">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-large" [routerLink]="['/cart']" routerLinkActive="router-link-active">
                  <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </span>
                  <span class="tag is-primary has-text-weight-bold">{{length? length: '0'}}</span>
                </a>
              </p>
            </div>
          </div>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item" [routerLink]="['/collection']" routerLinkActive="router-link-active">
              Collection
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Return an item
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-info">
                  Log in
                </a>
                <div class="is-hidden-touch field has-addons">
                  <p class="control">
                    <a class="button is-light" [routerLink]="['/cart']" routerLinkActive="router-link-active">
                      <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                      </span>
                      <span class="tag has-text-weight-bold">{{length? length: '0'}}</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="section">
      <a class="link" *ngIf="!noItems" [routerLink]="['/collection']" routerLinkActive="router-link-active" >
        <i class="fas fa-angle-left"></i>
        Continue Shopping
      </a>
      <section *ngIf="noItems" class="noItems">
          <table class="table is-fullwidth">
            <thead class="hero-head">
              <tr>
                <th>My Cart</th>
              </tr>
            </thead>
            <tbody class="hero-body">
              <tr>
                <td>
                    <section class="hero is-medium is-bold">
                        <div class="hero-body">
                          <div class="container has-text-centered">
                            <h1 class="title">
                              No items in your cart
                            </h1>
                            <a class="link" [routerLink]="['/collection']" routerLinkActive="router-link-active" >
                                <h2 class="subtitle">
                                    Continue Shopping
                                  </h2>
                            </a>
                          </div>
                        </div>
                      </section>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      <div *ngIf="!noItems">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>My Cart</th>
              <th class="righttext is-hidden-touch">Price</th>
              <th class="righttext is-hidden-touch"><abbr title="Quantity">Qty</abbr></th>
              <th class="righttext is-hidden-touch">Total</th>
            </tr>
          </thead>
          <tbody *ngFor="let items of cart; let i = index">
            <tr>
              <td class="is-hidden-desktop">
                  <article class="media">
                      <figure class="media-left">
                        <p class="image is-64x64">
                          <!-- <img src="https://bulma.io/images/placeholders/128x128.png"> -->
                          <img src="{{items.imgUrl}}" alt="">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>{{items.productname}}</strong>
                          </p>
                          <p>
                            <small>${{items.newamount}}</small>
                          </p>
                          <p>
                            <input type="number" value="{{items.newqty}}">
                          </p>
                        </div>
                      </div>
                      <div class="media-right rem_mob">
                        <button class="delete" (click)="removeItem(i)"></button>
                      </div>
                    </article>
              </td>
              <td class="is-hidden-touch">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-128x128">
                      <!-- <img src="https://bulma.io/images/placeholders/128x128.png"> -->
                      <img src="{{items.imgUrl}}" alt="">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p class="is-size-5">
                        <span>{{items.productname}}</span>
                      </p>
                      <p class="is-size-6 has-text-weight-light">
                        {{items.size | uppercase}}
                      </p>
                      <a class="link has-text-danger has-text-weight-light" (click)="removeItem(i)">
                          Remove item
                      </a>
                    </div>
                  </div>
                </article>
              </td>
              <td class="righttext is-hidden-touch">
                ${{items.newamount}}
              </td>
              <td class="righttext is-hidden-touch">
                <div class="control">
                  <input type="number" class="input" value="{{items.newqty}}">
                </div>
              </td>
              <td class="righttext is-hidden-touch">
                <p *ngFor="let price of newamount[i]; let y = index">
                  ${{price}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cart_details">
            <div class="columns">
                <div class="column is-half">
                  <p>
                    Enter a promo code
                  </p>
                </div>
                <div class="column is-half">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p>
                          Subtotal
                        </p>
                      </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p>
                              Amount
                            </p>
                          </div>
                    </div>
                  </div>
                  <div class="level is-mobile">
                      <div class="level-left">
        
                          <div class="level-item">
                              <p>
                                Shipping
                              </p>
                            </div>
                      </div>
                      <div class="level-right">
                          <div class="level-item">
                              <p>
                                Free
                              </p>
                            </div>
                      </div>
                      </div>
                  <button class="button is-fullwidth is-medium">
                    Add To checkout
                  </button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>