.wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: unset;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
figure{
    background: aliceblue
}
img{
    vertical-align: middle;
    width: 100%;
    height: inherit;
}

.moveright{
    margin: auto;
}
.righttext{
    text-align: end !important
}
.rem_mob{
    margin: auto
}
.cart_details{
    border-top: 2px solid #dbdbdb;
    padding: 20px 10px 20px 10px
}
.noItems{
    border-bottom: 2px solid #dbdbdb
}
.promocode{
    color: #7795A3
}
.promo{
    margin-top: 15px
}
.input{
    outline: none;
}