<div>
  <div class="wrapper">
    <div class="section">
      <a class="link" *ngIf="!noItems" [routerLink]="['/collection']" routerLinkActive="router-link-active">
        <i class="fas fa-angle-left"></i>
        Continue Shopping
      </a>
      <div *ngIf="noItems" class="noItems">
        <table class="table is-fullwidth">
          <thead class="hero-head">
            <tr>
              <th>My Cart</th>
            </tr>
          </thead>
          <tbody class="hero-body">
            <tr>
              <td>
                <div class="hero is-medium is-bold">
                  <div class="hero-body">
                    <div class="container has-text-centered">
                      <h1 class="title">
                        No items in your cart
                      </h1>
                      <a class="link promocode" [routerLink]="['/collection']" routerLinkActive="router-link-active">
                        <h2 class="subtitle">
                          Continue Shopping
                        </h2>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!noItems">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>My Cart</th>
              <th class="righttext is-hidden-touch">Price</th>
              <th class="righttext is-hidden-touch"><abbr title="Quantity">Qty</abbr></th>
              <th class="righttext is-hidden-touch">Total</th>
            </tr>
          </thead>
          <tbody *ngFor="let items of cart; let  i = index">
            <tr>
              <td class="is-hidden-desktop">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="{{items.imgUrl}}" alt="">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong> {{items.productname}}</strong>
                      </p>
                      <p>
                        <small>${{items.newamount | number: '.2'}}</small>
                      </p>
                      <p>
                        <input type="number" class="input is-medium" value="{{items.newqty}}" min="1" (change)="chooseQty($event, i)"
                          (keyup)="chooseQty($event, i)" style="width: 50%;">
                      </p>
                    </div>
                  </div>
                  <div class="media-right rem_mob">
                    <button class="delete" (click)="removeItem(i)"></button>
                  </div>
                </article>
                <div class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item">
                      Total
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <p>
                        ${{items.total | number: '.2'}}
                      </p>
                    </div>
                  </div>
                </div>
              </td>
              <td class="is-hidden-touch">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-128x128">
                      <img src="{{items.imgUrl}}" alt="">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p class="is-size-5">
                        <span>{{items.productname}}</span>
                      </p>
                      <p class="is-size-6 has-text-weight-light">
                        {{items.size | uppercase}}
                      </p>
                      <a class="link has-text-danger has-text-weight-light" (click)="removeItem(i)">
                        Remove item
                      </a>
                    </div>
                  </div>
                </article>
              </td>
              <td class="righttext is-hidden-touch">
                ${{items.newamount | number: '.2'}}
              </td>
              <td class="righttext is-hidden-touch">
                <div class="control" style="text-align: end">
                  <input type="number" class="input is-medium" min="1" value="{{items.newqty}}"
                    (change)="chooseQty($event, i)" (keyup)="chooseQty($event, i)" style="width: 50%; text-align:end">
                </div>
              </td>
              <td class="righttext is-hidden-touch" style="width: 200px;">
                <p>
                  ${{items.total | number: '.2'}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cart_details">
          <div class="columns">
            <div class="column is-half">
              <a (click)="enterpromo()" class="promocode">
                <span class="icon">
                  <i class="fas fa-tag"></i>
                </span> <span>
                  Click to Enter a promo code
                </span>
              </a>
              <div class="field has-addons promo" *ngIf="promocode">
                <div class="control">
                  <input type="text" class="input is-medium" placeholder="Enter promo code">
                </div>
                <div class="control">
                  <a class="button  is-info is-outlined is-medium">
                    <span>
                      Apply
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <p>
                      Subtotal
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <p>
                      ${{subtotal | number: '.2'}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="level is-mobile">
                <div class="level-left">

                  <div class="level-item">
                    <p>
                      Shipping
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <p>
                      {{shippingcost? shippingcost: 'Free'}}
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <hr>
              </div>
              <div class="level is-mobile">
                <div class="level-left">

                  <div class="level-item">
                    <p>
                      Total
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <p>
                      ${{totalAmount | number: '.2'}}
                    </p>
                  </div>
                </div>
              </div>
              <button class="button is-fullwidth is-medium is-dark">
                <span class="icon">
                  <i class="fa fa-shopping-bag"></i>
                </span>
                <span>
                  Checkout
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>