<div>
  <div style="background: aliceblue">
    <div class="hero is-medium wrapitems">
      <div class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="router-link-active">
              <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
              <span class="icon">
                <i class="fas fa-gem"></i>
              </span>
              <span class="">ShopMart</span>
            </a>
            <div class="is-hidden-desktop moveright">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-large" [routerLink]="['/cart']" routerLinkActive="router-link-active">
                    <span class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="tag is-primary has-text-weight-bold">{{length? length: '0'}}</span>
                  </a>
                </p>
              </div>
            </div>
            <a role="button" class="navbar-burger burger" (click)="showMenu()" id="burger" aria-label="menu"
              aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="router-link-active">
                Home
              </a>

              <a class="navbar-item" [routerLink]="['/collection']" routerLinkActive="router-link-active">
                Collection
              </a>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-info">
                    Log in
                  </a>
                  <div class="is-hidden-touch field has-addons">
                    <p class="control">
                      <a class="button is-light" [routerLink]="['/cart']" routerLinkActive="router-link-active">
                        <span class="icon">
                          <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="tag has-text-weight-bold">{{length? length: '0'}}</span>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="subtitle">
            The New Minimal
          </h2>
          <h1 class="title">
            JEWELRY COLLECTION
          </h1>
          <a class="button link is-medium is-size-4 shop-col" [routerLink]="['/collection']"
            routerLinkActive="router-link-active">
            Shop Collection
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapitems">
    <div class="section">
      <div>
        <div class="field">
          <p class="title has-text-weight-bold is-size-4">
            On Sale
          </p>
        </div>
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: #f9fbfc"  *ngFor="let image of allcollection">
                <img 
                src="{{image.img}}" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>
      </div>
    </div>
  </div>
</div>