.wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: unset;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
figure{
    background: aliceblue
}
img{
    vertical-align: middle;
    width: 100%;
    height: inherit;
}

.moveright{
    margin: auto;
}
swiper{
    height: 200px;
    /* width: 550px; */
    margin-left: auto;
    margin-right: auto;
}
.swiper-container {
    max-width: 100%;
    height: 100%;
  }
 
  .shop-col{
      background-color: #c7b56e
  }