<div>
  <div style="background: aliceblue">
    <div class="hero is-medium wrapper">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="subtitle">
            The New Minimal
          </h2>
          <h1 class="title">
            JEWELRY COLLECTION
          </h1>
          <a class="button link is-medium is-size-4 shop-col" [routerLink]="['/collection']"
            routerLinkActive="router-link-active">
            Shop Collection
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="section">
      <div>
        <div class="field">
          <p class="title has-text-weight-bold is-size-4">
            On Sale
          </p>
        </div>
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: #f9fbfc" *ngFor="let image of allcollection">
              <img [src]="image.img" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>
      </div>
    </div>
  </div>
</div>